body {
    margin: 0px auto;
    font-family: Roboto, sans-serif;
}

.site_header {
    /* задаем цвет фона */
    background-color: #007765; 
    /* Устанавливаем ширину содержимого элемента */
    width: 100%;
    /* Устанавливаем высоту элемента */
    height: 84px;
    /* Располагаем элементы в линию, ничего не происходит*/
    display: flex;
    /* Выравниваем элементы по центру вдоль горизонтальной оси */
    align-items: center;
    /* Устанавливаем способ позиционирования элемента относительно окна браузера */
    position: fixed;
    /* Расстояние от верхнего края родительского элемента до верхнего края дочернего элемента */
    top: 0;
    /* Размещаем по z-оси */
    z-index: 21;
    /* border-bottom: 1px solid black; */
}

.main_container {
    /* border-bottom: 1px solid black; */
    /* Устанавливаем ширину содержимого элемента */
    width: 100%;
    /* Устанавливаем максимальную ширину элемента */
    max-width: 1219px;
    /* Устанавливаем величину отступа от левого и правого края */
    margin-left: auto;
    margin-right: auto;
    /* Устанавливаем значение поля от левого и правого края содержимого элемента */
    padding-left: 55px;
    padding-right: 55px;
}

.navigation_container {
    /* border-bottom: 1px solid black; */
    /* Устанавливаем ширину содержимого элемента */
    height: 100%;
    /* Определяем как элемент должен быть показан в документе */
    display: flex;
    /* выравниваем элементы вдоль горизонтальной оси */
    align-items: center;
    /* браузер распределяет пространство вокргу флекс элементов */
    justify-content: space-between;
}

h1, h2, h3, h4, h5, h6 {
    /* расстояние от края элемента до края другого элемента */
    margin: 0;
}

/* Заголовки */
.titles {
    /* Определяет горизонтальное выравние текста по центру */
    text-align: center;
    color: #007765;
    font-style: normal;
    /* Устанавливает насыщенность шрифта */
    font-weight: 500;
    font-size: 64px;
    /* задаем высоту строки текста */
    line-height: 75px;
    /* Устанавливаем величину отступа от верхнего края элемента */
    margin-top: 48px;
}

/* работаем со ссылками */
.link {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    font-style: normal;
}

/* Первая секция фоновое изображение*/
.section_1 {
    /* Устанавливаем фон элемента */
    background: url(img/image.png) center no-repeat;
    /* Масштабируем фоновое изображение согласно заданным размерам */
    background-size: cover;
    margin-top: 84px;
    /* Устанавливаем значение края от верхнего элемента */
    padding-top: 160px;
    padding-bottom: 160px;
}

/* Текст заголовка */
.main_title {
    color: #FFFFFF;
    margin: 0 auto;
    text-align: center;
    font-weight: 500;
    font-size: 72px;
    line-height: 84px;
}

/* Вторая секция заголовок и текст */
.section_2 {
    background-color: #EEEEEE;
    padding-top: 55px;
    padding-bottom: 95px;
}

/* текст второй секции */
.text_section_2 {
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 38px;
}

.span {
    /* сделали шрифт жирным */
    font-weight: 700;
}

/* фоновое изображение и текст */
.section_3 {
    background: url(img/image-1.png) center no-repeat;
    background-size: cover;
    /* расширили картинку отступами */
    padding-top: 128px;
    padding-bottom: 128px;
}

.message {
    /* Устанавливаем ширину содержимого элемента */
    width: 100%;
    font-style: italic;
    color: #FFFFFF;
    font-weight: 500;
    text-align: center;
    font-size: 48px;
    line-height: 56px;
}

.section_4 {
    background-color: #FFFFFF;
    padding-top: 48px;
    padding-bottom: 92px;
}

.logo {
    /* задаем обтекание логотипа слева */
    float: left;
    /* отступ справа от текста */
    padding-right: 48px;
}

.logo_img {
    /* Устанавливаем ширину и высоту картинки */
    width: 115px;
    height: 115px;
}

.section_5 {
    background-color: #EEEEEE;
    /* смотрим значение на самой картинке */
    padding-top: 58px;
    padding-bottom: 112px;
}   

/* фото вместе с именем и должностью */
.img {
    /* нужно выделить элементы, чтобы увидеть параметры */
    width: 350px;
    height: 283px;
    /* выравниваем текст под картинкой по центру */
    text-align: center;
    /* определяем расположение флекс элементов в контейнере */
    display: flex;
    /* не понятно для чего, ничего не поменялось */
    flex-flow: column wrap;
    align-items: center;
    padding-bottom: 54px;
}

.name {
    color: #007765;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
}

.team {
    padding-top: 58px;
}

/* контейнер где располагаются флнекс элементы */
.figure {
    margin: 0;
    padding: 0;
    /* располагаем в одну линию */
    display: flex;
    /* переносим элементы на второй ряд */
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 56px;
}

.foto {
    width: 168px;
    height: 168px;
}

.footer {
    background-color: #333333;
    height: 176px;
    padding-top: 50px;
    text-align: center;
}

.text {
    color: #FFFFFF;
    width: 540px;
    height: 64px;
    /* расстояние от края элемента до края другого элемента */
    margin: 0 auto;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}
