* {
    margin: 0;
    padding: 0;
}

.site_header {
    /* задаем цвет фона */
    background-color: #007765; 
    /* Устанавливаем ширину содержимого элемента */
    width: 100%;
    /* Устанавливаем высоту элемента */
    height: 84px;
    /* Располагаем элементы в линию, ничего не происходит*/
    display: flex;
    /* Выравниваем элементы по центру вдоль горизонтальной оси */
    align-items: center;
    /* Устанавливаем способ позиционирования элемента относительно окна браузера */
    position: fixed;
    /* Расстояние от верхнего края родительского элемента до верхнего края дочернего элемента */
    top: 0;
    /* Размещаем по z-оси */
    z-index: 21;
    /* border-bottom: 1px solid black; */
}

.main_container {
    /* border-bottom: 1px solid black; */
    /* Устанавливаем ширину содержимого элемента */
    width: 100%;
    /* Устанавливаем максимальную ширину элемента */
    max-width: 1219px;
    /* Устанавливаем величину отступа от левого и правого края */
    margin-left: auto;
    margin-right: auto;
    /* Устанавливаем значение поля от левого и правого края содержимого элемента */
    padding-left: 55px;
    padding-right: 55px;
}

.navigation_container {
    /* border-bottom: 1px solid black; */
    /* Устанавливаем ширину содержимого элемента */
    height: 100%;
    /* Определяем как элемент должен быть показан в документе */
    display: flex;
    /* выравниваем элементы вдоль горизонтальной оси */
    align-items: center;
    /* браузер распределяет пространство вокргу флекс элементов */
    justify-content: space-between;
}

